@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mapboxgl-popup-content {
  font-size: 1rem;
  border-radius: 10px;
}

.mapboxgl-popup-content h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  border-radius: 10px;
  text-align: center;
  color: #fff;
  user-select: none;
  padding: 5px 10px;
}

.mapboxgl-popup-content h3:hover {
  cursor: pointer;
}

.real-container {
  height: fit-content;
  text-align: center;
}

.real-kitchens {
  margin: 0;
}

.real-kitchen {
  width: 100%;
}

.real-kitchen:hover {
  background-color: 'red';
}

.ghost-container {
  margin-top: 5px;
  padding: 0;
}

.ghost-kitchens {
  font-size: .75rem;
  font-family: 'Montserrat';
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.ghost-kitchen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ghost-kitchens>* {
  flex: 1 1 10em;
}
.ghost-kitchen:hover {
  background-color: #91c949;
}